:root {
    --FONT-EXPLETUS_SANS: "Expletus Sans", system-ui;

    --COLOR-TEXT-LIGHT-PRIMARY: rgba(255,255,255,1.0);
    --COLOR-TEXT-DARK-PRIMARY: rgba(2,2,2,1.0);

    --FONT-GLOBAL-PRIMARY: var(--FONT-EXPLETUS_SANS);
}