<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, welcome to<br />
        ILLSA</h1>
        <p>International Language and Linguistics Students' Association</p>
      </header>
      <p>Our mission is to unite language and linguistics students all over the world. Join us!</p>
      <ul class="actions">
        <li><a href="{{ 'about.html' | absolute_url }}" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/illsa_logo.png" alt="" />
    </span>
  </section>
