// Misc.
$misc: (
  z-index-base: 10000,
);

// Duration.
$duration: (
  nav: 0.3s,
  transition: 0.7s,
);

// Size.
$size: (
  border-radius: 1.675em,
  element-height: 1.75em,
  element-margin: 3em,
  sidebar-width: 24em,
  sidebar-width-alt: 24em,
  gutter: 3.3em,
);

// Font.
$font: (
  family: (
    "Expletus Sans",
    sans-serif,
  ),
  family-heading: (
    "Expletus Sans",
    serif,
  ),
  family-fixed: (
    "Courier New",
    monospace,
  ),
  weight: 400,
  weight-bold: 600,
  weight-heading: 700,
  weight-heading-alt: 400,
  kerning-heading: 0.075em,
);

// Palette.
$palette: (
  bg: #000000,
  bg-alt: #000000,
  fg: #ffffff,
  fg-bold: #3d4449,
  fg-light: #9fa3a6,
  border: rgba(145, 0, 0, 0.75),
  border-bg: transparentize(#e6ebed, 0.75),
  accent: #011099,
);
