{% comment %}
 id: sidebar
 type: partial
 version: 11.11.11 
{% endcomment %}


<div class="mini-posts">
  <article>
    <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
    <p>
      Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore
      aliquam.
    </p>
  </article>
  <article>
    <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
    <p>
      Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore
      aliquam.
    </p>
  </article>
  <article>
    <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
    <p>
      Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore
      aliquam.
    </p>
  </article>
</div>
